src/main/mule/customers records.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="customers_recordsFlow" doc:id="c8e2c70a-c14e-4ca1-b432-a597ecf396dd" >
		<db:select doc:id="8e7d8131-7404-432a-a2f8-3281e188b881" config-ref="Database_Config" doc:name="Select">
			<db:sql><![CDATA[select * from customers]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="b149a767-9a19-44a2-8ecb-5d8c3bb0d1d1">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ca494325-1d12-4367-b0dd-d60862b02b4b" message="#[payload]" />
	</flow>
</mule>
